@import "variables";
@import "mixins";
@import "reset";
@import "common";

/* header section styling starts here */

.header__wrapper {
  width: 100%;
  padding: 37px 7.75% 30px;
  @include flex-between;
  background-color: $clr-grey4;
}

.header__wrapper > a {
  margin-left: 5px;
  transform: scaleX(1.02);
}

.header__hamburger {
  width: 30px;
  height: 30px;
  display: none;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.header__bar {
  width: 100%;
  height: 4px;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $clr-green1;
  transition: all .3s;
  text-indent: -99999px;
}

.header__bar::before,
.header__bar::after {
  content: '';
  width: inherit;
  height: inherit;
  border-radius: inherit;
  position: absolute;
  left: 0;
  background-color: inherit;
  transition: all .3s;
}

.header__bar::before { top: 13px; }
.header__bar::after { top: 26px; }

.header__hamburger:hover .header__bar {
  top: 13px;
  transform: rotate(45deg);
}

.header__hamburger:hover .header__bar::before { display: none; }

.header__hamburger:hover .header__bar::after {
  top: 0px;
  transform: rotate(-90deg);
}

.header__menu {
  @include flex-center;
  gap: 35px;
}

.header__menu a {
  margin-right: 8px;
  color: $clr-grey2;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.header__menu a:hover { color: $clr-green1; }

/* header section styling ends here */

/* banner section styling ends here */

.banner__wrapper {
  width: 100%;
}

.banner__content {
  width: 100%;
  position: absolute;
  top: 66%;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
}

.banner__heading {
  margin-bottom: 20px;
  color: $clr-white;
  font-size: 59px;
  font-weight: 600;
  text-shadow: 0 0 3px $clr-black;
  text-transform: uppercase;
}

.banner__sub--title {
  color: $clr-white;
  font-size: 23px;
  text-shadow: 0 0 3px $clr-black;
}

/* banner section styling starts here */